#sinscrireButton {
    -fx-background-color: 
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

#BrandAddButton {
  
}

#sinscrireButton12{

    -fx-background-color: linear-gradient(#c7dc2a, #c7dc2a);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}
#sinscrireRetourButton{

 -fx-background-color: linear-gradient(#c7dc2a, #c7dc2a);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;


}


.list-view {
    -fx-background-color:#787746
;

}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color:  #119974;
}

.list-view .list-cell {
    -fx-background-color:#787746
;

    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}
#MusicButton1 {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
#CntFb{
 
}

.table-view{
    -fx-background-color: gainsboro;
    -fx-background-radius: 30;
    -fx-fill: #006bd7;
}
.table-view .column-header-background{
    -fx-background-color: gainsboro;
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box,rgb(10,101,107),15,0,0,0.1,3) ;   
}
.table-view .column-header, .table-view .filler{
    -fx-size:40;
    -fx-border-width:0 0 10 0;
    -fx-background: tranparent;
}
.table-view .column-header, .label{
    -fx-text-fill: #006bd7  
}